[Unit]
Description=Start ZeroTier, RabbitMQ, Apache2, testRabbitMQServer.service
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/var/www/sample/IT490-Project/.env
ExecStart=/bin/bash -c "\
  zerotier-cli join $ZEROTIER_ADDRESS && \
  systemctl start rabbitmq-server && \
  systemctl start apache2 && \
  systemctl start testRabbitMQServer"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
