[Unit]
Description=Test RabbitMQ Server
After=network.target

[Service]
ExecStart=/usr/bin/php /var/www/sample/IT490-Project/testRabbitMQServer.php
Restart=always
User=rtg490
Group=rtg490
PIDFile=/var/run/testRabbitMQServer.pid

[Install]
WantedBy=multi-user.target
