[Unit]
Description=Test testRabbitMQServer.php
After=network.target rabbitmq-server.service
Requires= rabbitmq-server.service

[Service]
# Restart command
Restart=always
RestartSec=10

#  change the  path to the file
ExecStart=/usr/bin/php /var/www/html/RabbitMQ/testRabbitMQServer.php


[Install]
WantedBy=multi-user.target



